$bgColor: darkblue;
$color: white;
$borderRadius: 10px;
$pad-10: 10px;
$fontWeight: bold;

.button
{
  background-color: $bgColor;
  color: $color;
  border-radius: $borderRadius;
  padding: $pad-10;
  font-weight: $fontWeight;
}
