<div class="signin-wrapper">
    <div class="signin-pass-msg">
        <p>Введите ваш пароль:</p>
    </div>

    <form class="pass-form" action="/main">
        <input class="input-signin-pass" type="password">

        <a href="/main">{{{state.signin.signinPassButton}}}</a>
    </form>

</div>
