<div class="signup-wrapper">

    <h1>{{{state.signup.title}}}</h1>
    <div class="signup-form">
        <div class="mainField">
            <div class="field">
                <label class="label-signup" for="first_name">Введите ваше Имя:</label>
                <input name="first_name" class="input-signup" type="text">
            </div>
            <div class="field">
                <label class="label-signup" for="second_name">Введите вашу Фамилию:</label>
                <input name="second_name" class="input-signup" type="text">
            </div>
            <div class="field">
                <label class="label-signup" for="login">Придумайте ваш login:</label>
                <input name="login" class="input-signup" type="text">
            </div>
            <div class="field">
                <label class="label-signup" for="email">Введите ваш E-mail:</label>
                <input name="email" class="input-signup" type="email">
            </div>
            <div class="field">
                <label class="label-signup" for="password">Придумайте пароль:</label>
                <input name="password" class="input-signup" type="password">
            </div>
            <div class="field">
                <label class="label-signup" for="password-verify">Повторите пароль:</label>
                <input name="password-verify" class="input-signup" type="password">
            </div>
            <div class="field">
                <label class="label-signup" for="phone">Укажите ваш телефон:</label>
                <input name="phone" class="input-signup" type="text">
            </div>
        </div>
        <a href="/signin">{{{state.signup.signupButton}}}</a>
    </div>

</div>