body,
#root,
.wrapper_err500,
.wrapper_err404,
.button,
.welcome-wrap,
.signin-form,
.pass-form,
.signin-wrapper,
.signup-wrapper,
.signin-pass-msg,
.editProfile-btn-passwordChange,
.editProfile-avaBlock,
.editProfile-labelBlock,
.editProfile-titleBlock,
.editProfile-window,
.editProfile-form-main,
.editProfile-form-slave {
  display: flex;
}

.signup-wrapper,
.button,
.welcome-wrap,
.signin-wrapper,
.signup-wrapper,
.editProfile-btn-passwordChange,
.editProfile-avaBlock,
.editProfile-form-main,
.editProfile-form-slave {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.signup-wrapper,
.signin-wrapper,
.welcome-wrap,
.signin-form,
.pass-form,
.editProfile-window,
.editProfile-form-main,
.editProfile-form-slave {
  flex-direction: column;
}

input, input:hover, input:focus, input:active {
  border: none;
  outline: none;
  outline-offset: 0;
  background: none;
  border-bottom: 1px solid white !important;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #062637;
  display: flex;
}

body, input, input:hover, input:focus, button {
  color: white;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 7px;
}

.wrapper_err500, .wrapper_err404 {
  font-family: "Inter", serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 58px;
}

.wrapper_err500 p, .wrapper_err404 p {
  font-weight: 800 !important;
  font-size: 24px;
}

.wrapper_err500 a, .wrapper_err404 a {
  margin-top: 15%;
  text-decoration-line: underline;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 16px;
  line-height: 19px;
  color: #6C6AB9;
}

.wrapper_err500 h1, .wrapper_err404 h1 {
  font-size: 96px;
}

.button {
  background: #066761;
  width: 385px;
  height: 52px;
  font-size: 42px;
  line-height: 39px;
}

label, .mainField {
  float: left;
}

label, button, .wrapper_err404 a, .wrapper_err500 a {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
}

.label-signup {
  padding-right: 10px;
}

a {
  text-decoration-line: none;
}

.welcome-wrap h1 {
  margin-bottom: 25%;
}

.signin-form, .pass-form input {
  margin-bottom: 10%;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.signin-wrapper h1 {
  font-size: 96px !important;
  margin-bottom: 20%;
}

#link_to_register {
  margin-top: 2% !important;
  text-decoration-line: underline !important;
}

.signin-pass-msg {
  width: 100%;
}

.signin-wrapper a {
  margin-top: 5%;
  color: #6C6AB9;
}

.input-signin::placeholder {
  color: rgba(247, 247, 253, 0.537254902);
}

.input-signin-pass, .input-signin-pass:focus, .input-signin-pass:hover {
  width: 100%;
}

.main-page {
  width: 550px;
  line-height: 50px;
}

.signup-wrapper {
  width: 100%;
  line-height: 46px;
}

.field {
  clear: both;
  text-align: right;
  line-height: 57px;
  width: 100%;
}

.input-signup, .input-signup:hover, .input-signup:focus {
  width: 60%;
  margin-top: 15px;
}

.mainField {
  width: 100%;
  margin-bottom: 10%;
}

.signup-form {
  width: 45%;
  margin: 10% 0 10% 0;
}

.signup-form a, .signup-form button {
  width: 100% !important;
  height: 15% !important;
}

.editProfile-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(14, 225, 200, 0.07);
}

.editProfile-window {
  align-items: flex-start;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
}

.editProfile-blockMain, .editProfile-blockSlave {
  background: rgb(6, 38, 55);
  width: 100%;
}

.editProfile-blockSlave {
  margin-top: 3%;
}

.editProfile-form-main {
  margin-top: 12%;
}

.avaBlock-btn-upload-img {
  cursor: pointer;
  margin: 1% 0 0 6% !important;
  display: block;
  position: fixed !important;
  width: 32px;
  height: 32px;
  background-image: url("/src/assets/img/avatar-cam.png");
}

.editProfile-form-slave {
  margin-top: 5%;
  margin-bottom: 10%;
}

.input-editProfile {
  width: 90%;
  border-radius: 25px;
  border-bottom: none !important;
  height: 37px;
  margin-bottom: 5%;
  background: rgba(217, 217, 217, 0.04);
  padding-left: 7%;
  font-size: 16px;
  font-family: "Tomorrow";
}

.input-editProfile::placeholder {
  font-size: 14px;
}

.descriptions {
  color: #13ABA2;
  font-size: 14px;
  line-height: 17px;
  width: 80%;
  text-align: left;
}

.editProfile-description {
  width: 100%;
  margin-left: 15%;
}

.editProfile-labelBlock {
  width: 90%;
  margin-left: 15%;
}

.label-editProfile {
  font-size: 12px;
  color: rgba(159, 157, 157, 0.8) !important;
}

.editProfile-titleBlock {
  width: 100%;
  flex-direction: row;
}

.editProfile-backAarrow {
  margin: 2% 0 0 5%;
}

#editProfile-title {
  margin-left: 7%;
  font-size: 30px;
}

.editProfile-login {
  margin-top: 5%;
}

.editProfile-avaBlock {
  margin-top: 7%;
  height: 15%;
  width: 100%;
  flex-direction: column;
}

.editProfile-avatar {
  display: block;
  width: 128px !important;
  height: 111px !important;
  background: rgba(217, 217, 217, 0.4) !important;
  border-radius: 50% !important;
}

.editProfile-avatar::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

[class*=icono] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
[class*=icono]:after, [class*=icono]:before {
  content: "";
  box-sizing: border-box;
}

[class*=icono-arrow1] {
  width: 20px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  margin: 10px;
}
[class*=icono-arrow1]:before {
  right: 0;
  top: -3px;
  position: absolute;
  height: 4px;
  box-shadow: inset 0 0 0 32px;
  transform: rotate(-45deg);
  width: 23px;
  transform-origin: right top;
}
[class*=icono-arrow1][class*=-right] {
  transform: rotate(-135deg);
}

.editProfile-changePwd-btn {
  color: darkred;
  text-decoration: underline;
  font-size: 20px;
}

.editProfile-btn-passwordChange {
  margin-top: 3%;
  height: 100%;
  width: 100%;
  background: rgb(6, 38, 55);
}

#editProfile-formSlave-input::placeholder {
  color: white !important;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
